    <body>
        <header>
            <div class="container">
                <nav class="navbar bg-primary" data-bs-theme="dark">
                    <div class="logo">
                        <h2>Pantastic</h2>
                        <h3>Bakers & Food Lovers</h3>
                    </div>
                    
                    <ul>
                        <li><a href="./">Inicio</a></li>
                        <li><a href="./catalogo">Tipos de transporte</a></li>
                        
                        <div class="btn">
                            <a href="./registro">
                                <button class="registro">
                                    <p>Registrate</p>
                                </button>
                            </a>
                    
                            <a href="./login">
                                <button class="login">
                                    Log In
                                </button>
                            </a>   
                        </div>
                    </ul>
                  </nav>
            </div>
        </header>

        <div class="mainP">

        </div>

        <footer>
            <div class="piePag">

                <div class="men1">
                    <h4 class="rec">Recomendaciones</h4>                
                    <p class="com">Comestibles</p>
                    <p class="beb">Bebidas</p>
                </div>

                <div class="men2">
                    <h4 class="tam">También te puede interesar</h4>
                    <p class="serv">Servicios adicionales</p>
                    <p class="of">Ofertas</p>
                </div>
                
                <div class="men3">
                    <h4 class="conoce">Conoce</h4>
                    <p class="his">Nuestra historia</p>
                    <p class="ing">Ingredientes</p>
                </div>

                <div class="wha">
                    <h4>Contáctanos:</h4>
                    <div class="num">
                        <div class="iconow">
                            <i class="fa-brands fa-whatsapp"></i>
                            <p>+593 984748653</p>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </footer>
        

       

    </body>
    <router-outlet></router-outlet>
        


