

  <div>
    <h1>{{msj}}</h1>
  </div>
  <form>
    <label for="fname">Nombres completos:</label>
    <br>
    <input type="text" id="fname" name="fname" placeholder="Ingrese su(s) nombre(s)">
    <br>
    <label for="lname">Apellidos completos:</label>
    <br>
    <input type="text" id="lname" name="lname" placeholder="Ingrese su(s) Apellido(s)">
    <br>
    <label for="pwd">Contraseña:</label>
    <br>
    <input type="password" id="pwd" name="pwd" placeholder="Ingrese su contraseña">
    <br>
    <label for="pwd">Confirmar contraseña:</label>
    <br>
    <input type="password" id="pwd" name="pwd" placeholder="Vuelva a ingresar su contraseña">
    <br>
    <label for="mail">Correo electrónico:</label>
    <br>
    <input type="email" id="mail" name="mail" placeholder="Ingrese su correo electrónico">
    <br>
    <label for="phone">Teléfono</label>
    <br>
    <input type="text" id="phone" name="phone" placeholder="Ingrese su número de celular">
    <br>
    <button class="submit">registrarse</button>
  </form> 


